/*=Footer
---------------------------------------------------------------------*/
.site-footer {
    background-color:$font-color;
}

.nav-footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    margin:0;
    padding: 1rem 0;
    li {
        padding: 0 1rem;
        a {
            color: $light-color;
            transition: all 0.5s ease-in-out;
            &:hover {
                color: $link-color;
            }
        }
    }
}

.copyright {
    color: $light-color;
    padding-bottom: 1rem;
    text-align: center;
    margin: 0;
}