/*=Header
---------------------------------------------------------------------*/
.site-header {
  position: relative;
  width: 90%;
	max-width: 1200px;
	margin: 0 auto;
  @include breakpoint(medium) {
    text-align: center;
    margin-top: 1rem;
  }
}

.logo {
  font-size: 2rem;

  a {
    color: $link-color;
    transition: all 0.5s ease-out;
    &:hover {
      color: $font-color;
    }
  }
}
